%container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-right: 16px;
    padding-left: 16px;
  }
}
%section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

%link {
  text-decoration: none;
}

%list {
  list-style: none;
  padding: 0;
  margin: 0;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
