<section class="favorites__section">
  <div class="favorites__container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">a</li>
      <li class="favorites__item">b</li>
      <li class="favorites__item">c</li>
      <li class="favorites__item">d</li>
      <li class="favorites__item">e</li>
      <li class="favorites__item">f</li>
    </ul>
  </div>
</section>
