<footer class="footer">
  <div class="container">
    <nav class="footer_nav">
      <a href="" class="footer_logo">
        <svg class="footer-icon" width="69" height="51">
          <use href="./"></use>
        </svg>
      </a>
      <ul class="footer_list list">
        <li class="footer_item"><a href="">Home</a></li>
        <li class="footer_item"><a href="">About</a></li>
        <li class="footer_item"><a href="">Service</a></li>
        <li class="footer_item"><a href="">Menu</a></li>
        <li class="footer_item"><a href="">Contact</a></li>
      </ul>
    </nav>
    <div class="subscribe">
      <p class="title"></p>
      <form action="">
        <label for="">
          <input type="email" name="email" placeholder="E-mail"/>
          <button type="submit">Subscribe</button>
        </label>
      </form>
      <p class="footer_text">By subscribing you agree to with our <span class="footer_privacy">Privacy Policy</span></p>
    </div>
    <ul class="privacy_list list">
      <li class="privacy_item">Privacy Policy</li>
      <li class="privacy_item">Terms of Service</li>
      <li class="privacy_item">Cookies Settings</li>
      <li class="privacy_item">2022 FoodSta. All right reserved.</li>
    </ul>
  </div>
</footer>