<!DOCTYPE html>
<html lang="uk">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodSta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
  </head>

  <body>
    <!-- Alexandr Piniuhin -->
    <include src="./partials/footer.html"></include>

    <footer class="footer">
      <div class="container">
        <nav class="footer-nav">
          <a href="" class="footer-logo">
            <svg class="footer-icon" width="69" height="51">
              <use href="./images/footer/icons.svg"></use>
            </svg>
          </a>
          <ul class="footer-list list">
            <li class="item">Home</li>
            <li class="item">About</li>
            <li class="item">Service</li>
            <li class="item">Menu</li>
            <li class="item">Contact</li>
          </ul>
        </nav>
        <div class="subscribe">
          <p class="title"></p>
          <form action="">
            <label for="">
              <input type="email" name="email" placeholder="E-mail"/>
              <button type="submit">Subscribe</button>
            </label>
          </form>
          <p class="footer-text">By subscribing you agree to with our <span class="footer-privacy">Privacy Policy</span> </p>
        </div>
        <ul class="privacy-list list">
          <li class="item">Privacy Policy</li>
          <li class="item">Terms of Service</li>
          <li class="item">Cookies Settings</li>
          <li class="item">2022 FoodSta. All right reserved.</li>
        </ul>
      </div>
    </footer>
  </body>
</html>