<footer class="footer">
  <div class="footer_pictures"></div>
  <div class="container">
    <div class="footer_wrap">
      <nav class="footer_nav">
        <a href="" class="footer_logo">
          <svg class="footer-icon" width="69" height="51">
            <use href="./images/footer/sprite.svg#icon-Group-61"></use>
          </svg>
        </a>
        <ul class="footer_list list">
          <li class="footer_item"><a href="" class="link">Home</a></li>
          <li class="footer_item"><a href="" class="link">About</a></li>
          <li class="footer_item"><a href="" class="link">Service</a></li>
          <li class="footer_item"><a href="" class="link">Menu</a></li>
          <li class="footer_item"><a href="" class="link">Contact</a></li>
        </ul>
      </nav>
      <div class="subscribe">
        <p class="subscribe_title">Subscribe</p>
        <div class="email">
          <form class="subscribe_email">
              <input class="subscribe_input" type="email" name="email" placeholder="Enter your email"/>
              <button class="subscribe_button" type="submit">Subscribe</button>
          </form>
          <p class="subscribe_text">By subscribing you agree to with our <a href="" class="subscribe_privacy">Privacy Policy</a></p>
        </div>
      </div>
    </div>
    <div class="privacy">
      <ul class="privacy_list list">
        <li class="privacy_item"><a href="" class="privacy_link">Privacy Policy</a></li>
        <li class="privacy_item"><a href="" class="privacy_link">Terms of Service</a></li>
        <li class="privacy_item"><a href="" class="privacy_link">Cookies Settings</a></li>
      </ul>
      <p class="privacy_text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>