<header class="header">
  <div class="header__container">
    <a class="logo" href=""></a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav-link" href=""><span class="nav-link__text"></span></a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href=""><span class="nav-link__text"></span></a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href=""><span class="nav-link__text"></span></a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href=""><span class="nav-link__text"></span></a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href=""><span class="nav-link__text"></span></a>
        </li>
      </ul>
    </nav>
    <button class="menu-btn" type="button"></button>
  </div>
</header>
