<header class="header">
  <div class="header__container">
    <a class="logo" href="./index.html">
      <svg width="60" height="52">
        <use href="./images/header/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav-link" href="#"
            ><span class="nav-link__text">Home</span></a
          >
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#"
            ><span class="nav-link__text">About</span></a
          >
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#"
            ><span class="nav-link__text">Service</span></a
          >
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#menu"
            ><span class="nav-link__text">Menu</span></a
          >
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#"
            ><span class="nav-link__text">Contact</span></a
          >
        </li>
      </ul>
    </nav>
    <button class="order-btn" type="submit" data-modal-open>
      <span class="order-btn__text">Order Now</span>
    </button>
    <button class="menu-btn" type="button" data-menu-open>
      <svg class="menu-btn__icon" width="28" height="28">
        <use href="./images/header/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="menu-overlay" data-menu>
    <div class="mobile-container">
      <button class="btn-close" type="button" data-menu-close>
        <svg class="btn-close__icon" width="11" height="11">
          <use href="./images/header/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <ul class="mobile-nav__list">
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#"
            ><span class="mobile-nav__text">Home</span></a
          >
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#"
            ><span class="mobile-nav__text">About</span></a
          >
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#"
            ><span class="mobile-nav__text">Service</span></a
          >
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#menu"
            ><span class="mobile-nav__text">Menu</span></a
          >
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#"
            ><span class="mobile-nav__text">Contact</span></a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button class="modal-btn-close" type="button" data-modal-close>
        <svg class="modal-btn-close__icon" width="11" height="11">
          <use href="./images/header/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <p class="modal-slogan">Order Form</p>
      <form class="modal-register-form">
        <div class="modal-form-group" role="group">
          <label class="modal-register">
            <span class="modal-register__text">Name</span>
            <input class="modal-input" type="text" name="user-name" />
          </label>
          <label class="modal-register">
            <span class="modal-register__text">Phone number</span>
            <input class="modal-input" type="tel" name="user-tel-number" />
          </label>
          <label class="modal-register">
            <span class="modal-register__text">E-mail</span>
            <input class="modal-input" type="email" name="user-e-mail" />
          </label>
        </div>
        <button class="modal-submit-btn" type="submit">
          <span>Send</span>
        </button>
      </form>
    </div>
  </div>
</header>
