<header class="header">
  <div class="header__container">
    <a class="logo" href="./index.html">
      <svg width="60" height="52">
        <use href="./images/header/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav-link" href="#"
            ><span class="nav-link__text">Home</span></a
          >
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#"
            ><span class="nav-link__text">About</span></a
          >
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#"
            ><span class="nav-link__text">Service</span></a
          >
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#"
            ><span class="nav-link__text">Menu</span></a
          >
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#"
            ><span class="nav-link__text">Contact</span></a
          >
        </li>
      </ul>
    </nav>
    <button class="subsribe-btn" type="button">
      <span class="subscribe-btn__text">Order Now</span>
    </button>
    <button class="menu-btn" type="button">
      <svg width="28" height="28">
        <use href="./images/header/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
