<section class="hero__section">
  <div class="hero__container">
    <div class="hero__txt-block">
      <h1 class="hero__tittle">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="hero__btn" type="submit">Order Now</button>
    </div>
    <div class="hero__img-block">
      <picture class="hero__img">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hero/img1-@1x_lg.png 1x,
            ./images/hero/img1-@2x_lg.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/img1-@1x_md.png 1x,
            ./images/hero/img1-@2x_md.png 2x
          "
          type="image/png"
        />
        <img src="./images/hero/img1-@1x_lg.png" alt="salat" />
      </picture>
    </div>
  </div>
</section>
