<section class="offering">
  <div class="offering__container">
    <h2 class="offering__tittle">What’s Special About Our Offerings</h2>
    <p class="offering__subscribe">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <div class="offering__block">
      <span class="offering__subtittle">Fasest Delivery</span>
      <p class="offering__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros.
      </p>
    </div>
    <div class="offering__block">
      <span class="offering__subtittle">Easy to order</span>
      <p class="offering__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros.
      </p>
    </div>
    <button class="offering__btn" type="submit">Order Now</button>
    <span class="offering__txt">Read More</span>
  </div>
</section>
