.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-bg-overlay;
  opacity: 1;
  transition: opacity $bezier, visibility $bezier;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 449px;
  padding: 32px;
  background-color: $color-yellow;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $bezier, opacity $bezier;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }

  @media screen and (min-width: $mobile) {
    width: 458px;
  }
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: $color-black-second;
  background-color: $color-white;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}
.modal-btn-close__icon {
  fill: currentColor;
}
.modal-slogan {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24);

  color: $color-black-second;
  text-align: center;
  color: $color-black;
  margin-bottom: 12px;
}
.modal-form-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}
.modal-register {
  position: relative;
  display: block;
}
.modal-register__text {
  display: block;
  text-align: left;
  margin-left: 14px;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: $color-black-second;
  margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  background: $color-white;
  border: 1px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(16 / 14);
  outline: transparent;
  transition: border-color var(--animation-base);
}
.modal-input:not(:placeholder-shown):required:valid {
  border: 1px solid $color-green-dark;
}
.modal-input:not(:placeholder-shown):required:invalid {
  border: 1px solid $color-peach;
}
.modal-submit-btn {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 106px;
  height: 40px;
  padding: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;

  background-color: $color-white;
  color: $color-black-second;
  border-radius: 30px;
  border: 2px solid $color-green-dark;
  cursor: pointer;
  transition: background-color $bezier;

  &:hover,
  &:focus {
    background-color: $color-green;
  }
}
// форми

.contact-form-notfication {
  display: block;
  width: 280px;

  position: absolute;
  bottom: -17;
  left: 8%;
  transform: scale(0.3);
  transform-origin: center;
  opacity: 0;
  transition: opacity $bezier, transform $bezier;

  font-weight: 500;
  font-size: 13px;
  line-height: 140%;

  color: $color-peach;
}
.modal-input:invalid:required:not(:placeholder-shown)
  ~ .contact-form-notfication {
  opacity: 1;
  transform: scale(1);
}
.contact-form-icon {
  position: absolute;
  bottom: -13;
  right: 93%;
  opacity: 0;
  transform: scale(0.3);
  transition: opacity $bezier transform $bezier;
}
.modal-input:invalid:required:not(:placeholder-shown) ~ .contact-form-icon {
  opacity: 1;
  transform: scale(1);
}
