.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(94, 99, 99, 0.7);
  opacity: 1;
  transition: opacity $bezier, visibility $bezier;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 449px;
  padding: 32px;
  background-color: $color-yellow;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $bezier, opacity $bezier;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }

  @media screen and (min-width: $mobile) {
    width: 458px;
  }
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: $color-black-second;
  background-color: $color-white;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}
.modal-btn-close__icon {
  fill: currentColor;
}
.modal-slogan {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24);

  color: $color-black-second;
  text-align: center;
  color: $color-black;
  margin-bottom: 12px;
}
// .modal-register-form {
//     text-align: center;
// }
.modal-form-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}
.modal-register {
  display: block;
}

.modal-register__text {
  display: block;
  text-align: left;
  margin-left: 14px;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: $color-black-second;

  margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  background: $color-white;
  /* Dark green */

  border: 1px solid #7eb101;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(16 / 14);
  outline: transparent;
  transition: border-color var(--animation-base);
  //   &:focus {
  //     border-color: var(--accent-txt-cl);
  //   }
}
.modal-submit-btn {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 106px;
  height: 40px;
  //   padding: 10px;

  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  /* identical to box height, or 20px */

  /* Black */
  background: #ffffff;
  color: #2c2c2c;

  /* Dark green */

  border-radius: 30px;
  border: 2px solid #7eb101;
  cursor: pointer;
  transition: background-color var(--animation-base);

  &:hover,
  &:focus {
    background-color: $color-green;
  }
}
