:root {
    --footer-background-color: #fff;
    --background-color: rgba(254, 254, 254, 1);
    --footer-box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
    --primary-text-color: rgba(44, 44, 44, 1);
    --footer-link-focus-color: rgba(187, 243, 48, 1);
    --subscribe-input-border-color: rgba(255, 229, 80, 1);
    --subscribe-input-text-color: #505050;
    --subscribe-button-text-color: #2C2C2C;
    --subscribe-button-border-color: rgba(126, 177, 1, 1);
}
p {
    padding: 0;
}

.container {
    margin: 0 auto;
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
    }

    @media screen and (min-width: 320px) and(max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 768px) and(max-width: 1279px) {
        padding-left: 32px;
        padding-right: 32px;
    }
    @media screen and (min-width: 1280px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}

.footer {
    border-color: var(--footer-background-color);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--footer-box-shadow);
    @media screen and (min-width: 1280px) {
        background-image: url(../images/footer/food/footrdesk.jpg);
        background-position: bottom;
    }
}

.footer_pictures {
    @include media-query (tablet) {
        background-size: 203px 365px;
        
        background-image: url('../images/footer/food/orange@1x-min.jpg');
    }
}
/*
.subscribe__picture {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 17px;
    width: 161px;
    height: 78px;
    background-repeat: no-repeat;
    background-size: 161px 78px;
    background-image: url('../images/subscribe/banana-mob-161@1x.png');
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/subscribe/banana-mob-322@2x.png');
    }
    @include media-query(tablet) {
        margin-bottom: 20px;
        margin-right: 0;
        width: 281px;
        height: 136px;
        background-size: 281px 136px;
        background-image: url('../images/subscribe/banana-tab-281@1x.png');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('..//images/subscribe/banana-tab-562@2x.png');
        }
    }
    @include media-query(desktop) {
        display: block;
        order: 2;
        width: 546px;
        height: 266px;
        margin: 0;
        background-size: 546px 266px;
        background-image: url('../images/subscribe/banana-mob-161@1x.png');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/subscribe/banana-desk-1092@2x.png');
        }
    }
}*/

.footer_wrap {
    padding-top: 100px;
    @media screen and (max-width: 767px) {
        padding-top: 60px;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }  
}
 
.footer_nav {
    display: flex;
}

.footer_logo {
    @media screen and (max-width: 767px) {
        margin-right: 81px;
    }
    @media screen and (min-width: 768px) and(max-width: 1279px) {
        margin-right: 114px;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 154px;
    }
    
}

.footer_list {
    & .link {
        color: var(--primary-text-color);
    }
    & .link:hover,
    & .link:focus {
        color: var(--footer-link-focus-color);
    }

    @media screen and (min-width: 768px) {
        display: flex;
        text-decoration: none;
        align-items: center;
        & .footer_item:not(:last-child) {
            margin-right: 28px;
        }
    }
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

/* -----  subscribe  -------*/

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    @media screen and (max-width: 767px) {
        margin-top: 40px;
        margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px)  {
        margin-top: 40px;
        margin-bottom: 100px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 80px;
    }
}

.subscribe_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 12px;
    color: var(--primary-text-color);
}

.subscribe_email {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 12px;
    }
}

.subscribe_input {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    line-height: 150%;

    width: 279px;
    height: 42px;
    padding-left: 12px;

    color: var(--subscribe-input-text-color);
    border: 1px solid var(--subscribe-input-border-color);
    background-color: var(--background-color);
    border-radius: 30px;
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }
}
.subscribe_button{
    font-family: 'Roboto';
    width: 102px;
    height: 42px;
    margin-left: 12px;
    color: var(--subscribe-button-text-color);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    
    background-color: var(--background-color);
    border-radius: 30px;
    border: 1px solid var(--subscribe-button-border-color);

    &:hover,
    &:focus {
        background-color: var(--subscribe-input-border-color);
        transition: background-color 250ms var(--subscribe-input-border-color);
    }

    cursor: pointer;
}
.subscribe_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
}
.subscribe_privacy {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: var(--subscribe-button-border-color);
}

/*-------    privacy   -------*/

.privacy {
    @media screen and (max-width: 767px) {
        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
    }
    @media screen and (max-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 100px;
    }
    @media screen and (min-width: 481px) and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
    }

}
.privacy_list {
    display: flex;
    @media screen and (min-width: 320px) and (max-width: 480px) {
        justify-content: space-around;
        margin-bottom: 40px;
        & .privacy_item:not(:last-child) {
            margin-right: 35px;
        }
    }

    
    @media screen and (min-width: 481px) and (max-width: 767px) {
        margin-bottom: 40px;
        & .privacy_item:not(:last-child) {
            margin-right: 35px;
        }
    }
    @media screen and (min-width: 768px) {
        & .privacy_item:not(:last-child) {
            margin-right: 20px;
        }
    }
}
.privacy_item {
    color: var(--primary-text-color);
}

.privacy_link {
    color: var(--subscribe-button-border-color);
}
