:root {
    --background-color: rgba(254, 254, 254, 1);
    --footer-box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
    --primary-text-color: rgba(44, 44, 44, 1);
    --footer-link-focus-color: rgba(187, 243, 48, 1);
    --subscribe-input-border-color: rgba(255, 229, 80, 1);
    --subscribe-input-text-color: #505050;
    --subscribe-button-text-color: #2C2C2C;
    --subscribe-button-border-color: rgba(126, 177, 1, 1);
}
p {
    padding: 0;
}

.container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1280px;
    }
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}

.footer {
    /*background-image: url('../images/footer/fruit.jpg')  53px 129px;*/
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--footer-box-shadow);

}

.footer_wrap {
    padding-top: 100px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        /*display: block;*/
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    
}
 

.footer_nav {
    display: flex;
}

.footer_logo {
    margin-right: 154px;
}
.footer_list {
    display: flex;
    text-decoration: none;
    align-items: center;

    & .footer_item:not(:last-child) {
        margin-right: 28px;
    }
    & .link {
        color: var(--primary-text-color);
    }
    & .link:hover,
    & .link:focus {
        color: var(--footer-link-focus-color);
    }
}


/* -----  subscribe  -------*/

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 80px;
}

.subscribe_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 12px;
    color: var(--primary-text-color);
}

.subscribe_email {
    margin-bottom: 12px;
}

.subscribe_input {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    line-height: 150%;

    width: 279px;
    height: 42px;
    padding-left: 12px;

    color: var(--subscribe-input-text-color);
    border: 1px solid var(--subscribe-input-border-color);
    background-color: var(--background-color);
    border-radius: 30px;
}
.subscribe_button{
    font-family: 'Roboto';
    width: 102px;
    height: 42px;
    margin-left: 12px;
    color: var(--subscribe-button-text-color);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    
    background-color: var(--background-color);
    border-radius: 30px;
    border: 1px solid var(--subscribe-button-border-color);

    &:hover,
    &:focus {
        background-color: var(--subscribe-input-border-color);
        transition: background-color 250ms var(--subscribe-input-border-color);
    }

    cursor: pointer;
}
.subscribe_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
}
.subscribe_privacy {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: var(--subscribe-button-border-color);
}

/*-------    privacy   -------*/
.privacy_list {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-bottom: 100px;

    & .privacy_item:nth-child(-n + 3) {
        margin-left: 20px;
    }
    & .privacy_item:nth-child(4) {
        margin-left: 600px;
    }
}

.privacy_item {
    color: var(--primary-text-color);
}

.privacy_link {
    color: var(--subscribe-button-border-color);
}