p {
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}
/*
.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    display: block;

    background-color: var(--accent-color);
    border-radius: 2px;
}*/

.footer {
    display: flex;
    background-image: url('../images/footer/fruit.jpg') 53px 129px;
}

.footer_list {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: rgba(44, 44, 44, 1);
    padding-top: 118px;

    & .footer_item:not(:last-child) {
        margin-right: 28px;
    }
}


/* -----  subscribe  -------*/

.subscribe {
    justify-content: flex-end;
}

.subscribe_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    padding-bottom: 12px;
    color: rgba(44, 44, 44, 1);

}
.subscribe_input {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    line-height: 150%;


    width: 279px;
    height: 42px;
    padding-left: 12px;

    color: #505050;
    border: 1px solid rgba(255, 229, 80, 1);
    background-color: rgba(254, 254, 254, 1);
    border-radius: 30px;
}
.subscribe_button{
    /*
    display: flex;
    align-items: flex-end;*/
  
    font-family: 'Roboto';
    width: 102px;
    height: 42px;
    margin-left: 12px;
    color: #2C2C2C;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    
    background-color: rgba(254, 254, 254, 1);
    border-radius: 30px;
    border: 1px solid rgba(126, 177, 1, 1);

    cursor: pointer;
}
.subscribe_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
}
.subscribe_privacy {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: rgba(126, 177, 1, 1);
}

/*-------    privacy   -------*/
.privacy_list {
    display: flex;
    text-decoration: none;
    align-items: center;

    & .privacy_item + .privacy_item {
        margin-left: 20px;
    }
}

.privacy_item {
    color: rgba(44, 44, 44, 1);
}