.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: $color-white-second;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}
.header__container {
  @extend %container;
  display: flex;
  align-items: center;
}
.logo {
  @extend %link;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.nav {
  margin-left: auto;
}
.nav__list {
  @extend %list;
  display: none;
  @media screen and (min-width: 768px) {
    display: initial;
    display: flex;
    gap: 28px;
  }
}
// .nav__item {
// }
.nav-link {
  @extend %link;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: $color-black;
  transition: color $bezier;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $color-green;
    text-decoration-line: underline;
  }
}
// .nav-link__text {
// }
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 28px;
  height: 28px;
  background-color: transparent;
  fill: $color-green-dark;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
  transition: fill $bezier;
  &:hover,
  &:focus {
    fill: $color-yellow;
  }
}
.menu-btn__icon {
  fill: currentColor;
}
.order-btn {
  display: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: initial;
    margin-left: 28px;
    width: 100px;
    height: 32px;
    background: $color-green;
    border-radius: 30px;
    border: none;
  }
  transition: background-color $bezier;
  &:hover,
  &:focus {
    background-color: $color-green-accent;
  }
}
.order-btn__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
