// .header {
// }
.header__container {
  @extend %container;
  display: flex;
  align-items: center;
}
.logo {
  @extend %link;
}
.nav {
  margin-left: auto;
}
.nav__list {
  @extend %list;

  display: none;
  @media screen and (min-width: 768px) {
    display: initial;
    display: flex;
    gap: 28px;
  }
}
// .nav__item {
// }
.nav-link {
  @extend %link;
}
.nav-link__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: $color-black;
}
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 28px;
  height: 28px;

  background-color: transparent;
  fill: $color-green-dark;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.subsribe-btn {
  display: none;
  @media screen and (min-width: 767px) {
    display: initial;
    margin-left: 28px;
    width: 100px;
    height: 32px;
    background: $color-green;
    border-radius: 30px;
  }
}
.subscribe-btn__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
