.hero {
  &__section {
    padding-top: 139px;
    @media screen and (max-width: 767px) {
      padding-bottom: 60px;
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: -30px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 93px;
      margin-bottom: -150px;
    }
  }

  &__container {
    @extend %container;
    @media screen and (max-width: 1279px) {
      position: relative;
    }

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__txt-block {
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      max-width: 502px;
    }
  }
  &__tittle {
    margin-bottom: 28px;

    font-size: 28px;
    line-height: calc(33 / 28);

    @media screen and (min-width: $tablet) {
      margin-bottom: 44px;

      font-size: 42px;
      line-height: calc(50 / 42);
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 28px;

      font-size: 48px;
      line-height: calc(58 / 48);
    }
  }
  &__descr {
    margin-bottom: 28px;

    font-size: 14px;
    line-height: calc(21 / 14);

    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
      max-width: 332px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 502px;

      font-size: 16px;
      line-height: calc(24 / 16);
    }
  }
  &__btn {
    cursor: pointer;
    padding: 6px 18px;

    border-radius: 30px;
    border: none;

    font-weight: 500;
    font-size: 13px;
    line-height: calc(20 / 13);

    transition: background-color $bezier;

    background: #bbf330;

    &:hover,
    &:focus {
      background-color: $color-green-accent;
    }
  }
  &__img-block {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (max-width: 1279px) {
      position: absolute;
      top: 89px;
      right: 38px;
    }
    @media screen and (min-width: $desktop) {
      position: relative;
    }
  }
  &__img {
    display: block;
    border-radius: 50%;

    overflow: hidden;
    @include media-query(tablet) {
      border: 14px solid $color-yellow;
      min-width: 320px;
      min-height: 320px;
    }

    @include media-query(desktop) {
      border: 26px solid $color-yellow;
    }
  }
  &__toggle {
    display: flex;
    position: absolute;
    top: 146px;
    left: -8px;
    @media screen and (min-width: $desktop) {
      top: 266px;
      left: -14px;
    }
  }
  &__img-btn:not(:last-child) {
    margin-right: 268px;
    @media screen and (min-width: $desktop) {
      margin-right: 512px;
    }
  }

  &__img-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    height: 28px;
    width: 34px;
    @media screen and (min-width: $desktop) {
      height: 40px;
      width: 48px;
    }

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    border: none;

    transition: fill $bezier, box-shadow $bezier;

    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
    &:hover .hero__img-icon {
      fill: #7eb101;
    }
  }
}
