.hero {
  &__section {
    position: relative;
    padding-top: 132px;
    @media screen and (min-width: $desktop) {
      padding-top: 118px;
    }
  }

  &__container {
    @extend %container;
    display: flex;
  }
  &__txt-block {
    max-width: 502px;
  }
  &__tittle {
    margin-bottom: 28px;

    font-size: 28px;
    line-height: calc(33 / 28);

    @media screen and (min-width: $tablet) {
      margin-bottom: 44px;

      font-size: 42px;
      line-height: calc(50 / 42);
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 28px;

      font-size: 48px;
      line-height: calc(58 / 48);
    }
  }
  &__descr {
    margin-bottom: 28px;

    font-size: 14px;
    line-height: calc(21 / 14);

    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: calc(24 / 16);
    }
  }
  &__btn {
    cursor: pointer;
    padding: 6px 18px;

    border-radius: 30px;
    border: none;

    font-weight: 500;
    font-size: 13px;
    line-height: calc(20 / 13);

    background: #bbf330;
  }
  &__img-block {
  }
  &__img {
    position: absolute;

    right: 14px;
    top: 112px;

    border-radius: 50%;
    border: 26px solid #ffe550;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
    }
  }
}
