.offering {
  padding-bottom: 60px;
  &__container {
    @extend %container;
  }
  &__list {
    @extend %list;
  }
  &__tittle {
    font-size: 28px;
    line-height: calc(33 / 28);

    @media screen and (min-width: $tablet) {
      font-size: 42px;
      line-height: calc(49 / 42);
    }
  }
  &__tittle-descr {
    font-size: 14px;
    line-height: calc(16 / 14);
    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: calc(19 / 16);
    }
    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: calc(24 / 16);
    }
  }
  &__subtittle {
    font-size: 18px;
    line-height: 21px;

    @media screen and (min-width: $desktop) {
      font-size: 17px;
      line-height: calc(24 / 17);
    }
  }
  &__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    @media screen and (min-width: $desktop) {
      line-height: calc(21 / 14);
    }
  }
  &__btn {
    border: 2px solid #7eb101;
    border-radius: 30px;

    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
  }
}
