.offering {
  &__section {
    padding-top: 60px;
    padding-bottom: 60px;

    background-repeat: no-repeat;
    background-size: 100%, 100%;

    margin-right: auto;
    margin-left: auto;

    // //min-screen mobile
    // background-image: url(./images/offerings/background/bg-@1x_mm.svg);

    // // tablet
    // @media screen and (min-width: $tablet) {
    //   padding-top: 167px;
    //   padding-bottom: 100px;
    //   background-image: url(./images/offerings/background/bg-@1x_md.svg);
    // }

    // // desktop
    // @media screen and (min-width: $desktop) {
    //   padding-top: 263px;
    //   padding-bottom: 43px;
    //   background-image: url(./images/offerings/background/bg-@1x_lg.svg);
    // }
  }

  &__container {
    @extend %container;
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__img-block {
    display: flex;

    margin-left: auto;
    margin-right: auto;

    height: 280px;
    width: 280px;

    @media screen and (max-width: 1279px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: $tablet) {
      margin-left: 0;
    }
    @media screen and (min-width: $desktop) {
      height: 550px;
      width: 550px;
      margin-right: 114px;
      margin-top: -24px;
    }
  }
  &__img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: contain;
  }
  &__list {
    @extend %list;
    margin-bottom: 28px;
    gap: 28px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
      gap: 116px;
      display: flex;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 32px;
      gap: 67px;
    }
  }
  &__txt-block {
    max-width: 100%;
    padding-top: 40px;
  }
  &__tittle {
    margin-bottom: 28px;
    max-width: 100%;

    font-size: 28px;
    line-height: calc(33 / 28);

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;
      font-size: 42px;
      line-height: calc(49 / 42);
    }
  }
  &__tittle-descr {
    margin-bottom: 28px;
    max-width: 100%;
    font-size: 14px;
    line-height: calc(16 / 14);
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: calc(19 / 16);
    }
    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: calc(24 / 16);
    }
  }
  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 28px;
    }
  }
  &__icon-block {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;

    margin-bottom: 8px;

    background-color: white;
    border-radius: 50%;
  }
  &__icon {
    fill: #7eb101;
  }
  &__subtittle {
    margin-bottom: 16px;

    max-width: 100%;
    max-width: 500px;

    font-size: 18px;
    line-height: 21px;

    @media screen and (min-width: $desktop) {
      font-size: 17px;
      line-height: calc(24 / 17);
    }
  }
  &__descr {
    max-width: 100%;
    width: 252px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    @media screen and (min-width: $desktop) {
      line-height: calc(21 / 14);
    }
  }
  &__subescribe {
    display: flex;
    gap: 24px;
  }
  &__btn {
    display: block;
    border: 2px solid #7eb101;
    border-radius: 30px;

    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
  }
  &__txt {
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}
// &__img-block {
//     position: relative;

//     margin-left: auto;
//     margin-right: auto;

//     height: 280px;
//     width: 280px;

//     background-color: #ffffff;

//     border: 11px solid #ffe550;
//     border-radius: 50%;

//     box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);

//     @media screen and (max-width: 1279px) {
//       margin-bottom: 60px;
//     }

//     @media screen and (min-width: $tablet) {
//       margin-left: 0;
//     }
//     @media screen and (min-width: $desktop) {
//       min-height: 550px;
//       min-width: 550px;
//       margin-right: 114px;
//       margin-top: -24px;

//       border: 26px solid #ffe550;
//     }
//   }
//   &__img {
//     display: block;
//     position: absolute;
//     left: 30px;
//     bottom: 42px;
//     @media screen and (min-width: $tablet) {
//       left: 38px;
//       bottom: 61px;
//     }
//     @media screen and (min-width: $desktop) {
//       left: 60px;
//       bottom: 73px;
//     }
//   }
